@font-face {
    font-family: 'skim_milkmedium';
    src: url('skim_milk-webfont.woff2') format('woff2'),
         url('skim_milk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
